<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Minecraft Update News</title>

	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css' | relative_url }}">
</head>
<body>
	<table class="contenttable">
		<tr><td style="padding-left: 16px;padding-right: 16px;" height="100%">
			<h1 class="mcnews">Minecraft News</h1>
			<div class="container">
				<div id="posts">
					{{ content }}
				</div>
			</div>
		</td>
		<td width=180px class="sidebar" valign="top">
			<h2>Official links:</h2>

			<a href="https://minecraft.net/">Minecraft.net</a><br>
			<a href="https://minecraft.net/realms">Minecraft Realms</a><br>
			<a href="https://www.minecraftshop.com/">Merchandise</a><br><br>
			<a href="https://bugs.mojang.com/browse/MC">Bug tracker</a><br>
			<a href="https://help.minecraft.net/hc/en-us">Minecraft Support</a><br><br>
			<a href="https://twitter.com/Minecraft" target="_blank">Minecraft on Twitter</a><br>
			<a href="http://twitter.com/MojangSupport">Support on Twitter</a><br><br>

			<b>Other Mojang games:</b><br>
			<div style="height:5px; display:block;"></div>
			<a href="http://scrolls.com/welcome?utm_source=mcl"><img src="https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/game-logo/dungeons-logo.svg"></a>
			<div style="height:5px; display:block;"></div>
			<a href="http://playcobalt.com/?utm_source=mcl"><img src="https://upload.wikimedia.org/wikipedia/en/5/5f/Caller%27s_Bane_%28Mojang_game%29_logo.png"width="180"></a>

			<h2>Community links:</h2>
			<a href="http://minecraftforum.net/">Minecraft Forums</a><br>
			<a href="#">Minecraft Discord</a><br>
		</td>
		</tr>
	</table>
</body>

</html>